.side-bar
  .side-bar__header
    .side-bar__header__top-items
      .side-bar__header__top-items__name
        masa
      .side-bar__header__top-items__icons
        = link_to "#", class: "icon-edit" do
          = icon('far', 'edit')
        = link_to "#", class: "icon-cog" do
          = icon('fas', 'cog')
  .side-bar__group-list
    .side-bar__group-list__side-items
      .side-bar__group-list__side-items__group
        techcamp
      .side-bar__group-list__side-items__message
        まだメッセージがありません
    .side-bar__group-list__side-items
      .side-bar__group-list__side-items__group
        techcamp2
      .side-bar__group-list__side-items__message
        まだメッセージがありません2